%li
  %h2= name
  %p
    = image_tag "team/200/#{name.underscore}.jpeg", class: 'th'
  %p
    %strong
      = succeed ":" do
        = t('team.job', count: t("team.#{name}.job").count)
    = t("team.#{name}.job").to_sentence
  %blockquote= t("team.#{name}.introduction")
