%section.content
  %article
    %hgroup.jumbo
      = image_tag 'jubi-logo.png'
      .teaser
        = t('index.teaser_html')
      = image_tag 'yfu-logo-transparent.png'

%section.content
  %article.half
    %h2= t('index.exchange stories make an impact.title')
    = markdown t('index.exchange stories make an impact.text')

    %h2= t('index.exchange stories.title')
    = markdown t('index.exchange stories.text')

  %article.half
    %h2= t('index.make an impact.title')
    = markdown t('index.make an impact.text')

%section.content
  %article
    %h2.logo-like= t('index.we want you_html')

%section.content
  %article.half
    %h2= t('index.program.title')
    = markdown t('index.program.text')

    %h2= t('index.educational history tour.title')
    = markdown t('index.educational history tour.text')

  %article.half
    %h2= t('index.organizing team.title')
    = markdown t('index.organizing team.text', team_link: page_path('team'))
