- content_for :title do
  Das Team stellt sich vor

%section.content
  %article
    %hgroup
      %h1= t('team.meet the team')

    = image_tag 'team/team.jpeg'

    .team-introduction
      %ul
        = render partial: 'team_introduction', locals: {name: 'Alex Senger'}
        = render partial: 'team_introduction', locals: {name: 'Cornelius Görres'}
        = render partial: 'team_introduction', locals: {name: 'Gerrit Rüdebusch'}
        = render partial: 'team_introduction', locals: {name: 'Henning Perl'}
        = render partial: 'team_introduction', locals: {name: 'Marlena Schultz-Brunn'}
        = render partial: 'team_introduction', locals: {name: 'Monika Keßler'}
        = render partial: 'team_introduction', locals: {name: 'Nick Modersitzki'}
        = render partial: 'team_introduction', locals: {name: 'Simon Born'}
        = render partial: 'team_introduction', locals: {name: 'Simone Stepp'}
        = render partial: 'team_introduction', locals: {name: 'Stefan Timmermann'}
        = render partial: 'team_introduction', locals: {name: 'Yannic Schelletter'}

