- content_for(:page_js) do
  :javascript
    $(function() {
      var CATEGORIES = #{Settings.categories.to_json}
      var currentCategory = null
      var currentAge = null
      var currentRoom = $('[name="but_registration[accomodation]"]:checked').val()
      var categoryPrices = #{@but_registration.distance_prices.to_json}
      var roomPrices = #{@but_registration.room_prices.to_json}
      var fullRegistrationPrice = #{@but_registration.registration_price}
      var firstDayPrice = #{Settings.prices.first_day}
      var otherDaysPrice = #{Settings.prices.other_days}
      var earlyBirdPrice = #{@but_registration.early_bird_price}
      var numDays = #{@but_registration.days}

      var refreshHint = function refreshHint(el) {
        var matches = $('#but_registration_address').val().match(/\d{5}/)
          , $output = $('#address-category')

        if (matches && matches.length != 0) {
          var plz = matches[0],
            region = parseInt(plz.substring(0, 2), 10),
            category = CATEGORIES[region]

          currentCategory = category
          $output.html('Entfernungs-Kategorie: ' + category + ' →  ' +
                        categoryPrices[currentCategory] + ',00 €')
        } else {
          currentCategory = null
          $output.html("#{t('simple_form.hints.but_registration.address')}")
        }
        refreshTotal()
      }

      var refreshNumDays = function refreshNumDays() {
        var startDay = 0, endDay = 0
          , checkinRadios = $('[name="but_registration[estimated_checkin_day]"]')
          , checkoutRadios = $('[name="but_registration[estimated_checkout_day]"]')

        for (startDay = 0; startDay < checkinRadios.size(); startDay++) {
          var radio = $(checkinRadios[startDay]);
          if (radio.is(':checked')) {
            break
          }
        }
        for (endDay = 0; endDay < checkinRadios.size(); endDay++) {
          var radio = $(checkoutRadios[endDay]);
          if (radio.is(':checked')) {
            break
          }
        }
        numDays = endDay - startDay + 1
        refreshTotal()
      }

      var registrationPrice = function registrationPrice() {
        if (currentRoom == 'acc_none') {
          if (numDays <= 0) {
            return 0
          }
          return firstDayPrice + (numDays-1) * otherDaysPrice
        } else {
          return fullRegistrationPrice
        }
      }

      var refreshRoom = function refreshRoom(el) {
        currentRoom = $(el).val()
        refreshTotal()
      }

      var refreshAge = function refreshAge(el) {
        currentAge = parseInt($('#but_registration_age').val(), 10)
        if (currentAge < 3) {
          $('.no-toddlers').hide()
          $('.toddlers').show()
        } else {
          $('.no-toddlers').show()
          $('.toddlers').hide()
        }

        refreshTotal()
      }

      var formatPrice = function formatPrice(num) {
        return num.toFixed(2).replace(/\./g, ',') + ' €'
      }

      var categoryPrice = function categoryPrice() {
        if (currentRoom && currentRoom == 'acc_none') {
          return 0
        } else {
          return categoryPrices[currentCategory]
        }
      }

      var refreshTotal = function refreshTotal(el) {
        var $category = $('#categoryPrice')
          , $room = $('#roomPrice')
          , $tshirtPrice = $('#tshirtPrice')
          , $tshirtText = $('#tshirtText')
          , $total = $('#totalPrice')
          , $registrationPrice = $('#registrationPrice')

        if (currentAge < 3) {
          $total.html(formatPrice(0))
        } else {
          $registrationPrice.html(formatPrice(registrationPrice()))
          if (currentCategory) {
            $category.html(formatPrice(categoryPrice()))
          } else {
            $category.html('<i>???</i>')
          }
          if (currentRoom) {
            $room.html(formatPrice(roomPrices[currentRoom]))
          }
          if (currentCategory && currentRoom) {
            $total.html(formatPrice(categoryPrice() +
              roomPrices[currentRoom] +
              earlyBirdPrice +
              registrationPrice()))
          } else {
            $total.html('<i>???</i>')
          }
        }
      }

      $('#but_registration_address').on('keyup',  refreshHint)
      $('#but_registration_address').on('change', refreshHint)
      $('#but_registration_age').on('keyup',  refreshAge)
      $('#but_registration_age').on('change', refreshAge)

      $('[name="but_registration[accomodation]"]').on('change', function(el) {
        toggleTogetherWith(true)
        refreshRoom(this)
      })

      $('[name="but_registration[estimated_checkin_day]"]').on('change', function(el) {
        refreshNumDays(this)
      })

      $('[name="but_registration[estimated_checkout_day]"]').on('change', function(el) {
        refreshNumDays(this)
      })

      $('[name="but_registration[diet]"]').on('change', function(el) {
        toggleDietOther(true)
      })

      // run everything once
      refreshAge()
      refreshHint()
      toggleTogetherWith(false)
      toggleDietOther(false)
    })

= simple_form_for @but_registration  do |f|
  - if @but_registration.errors.any?
    .row
      .medium-12.columns
        .callout.panel
          %h5 Deine Anmeldung konnte nicht gespeichert werden.
          %ul
            - for msg in @but_registration.errors.full_messages
              %li= msg

  .row
    .medium-12.columns
      .callout.panel
        :markdown
          Ab dem **#{l(Settings.dates.registrations_frozen)}** ist es nicht mehr möglich, die Anmeldung zu bearbeiten. Der Grund hierfür ist, dass wir danach gesammelt alle T-Shirts bestellen, Zimmer einteilen, Namensschilder drucken und vieles mehr für das BUT vorbereiten wollen und dafür einen finalen Stand brauchen.

  - if @but_registration.extended_kernteam?
    .row
      .medium-12.columns
        .panel
          :markdown
            Als Mitglied des erweiterten BUT-Teams bekommst du auf diese Anmeldung **50 % Rabatt**. Für weitere Anmeldungen über dein Konto zahlst du dann den vollen Preis.

            Wir danken dir ganz herzlich für dein Engagement auf dem BUT 2015.

  - if @but_registration.kernteam?
    .row
      .medium-12.columns
        .panel
          :markdown
            Als Mitglied des Kernteams bekommst du auf diese Anmeldung **50 % Rabatt**. Für weitere Anmeldungen über dein Konto zahlst du dann den vollen Preis.

            Wir danken dir ganz herzlich für dein Engagement auf dem BUT 2015.

  .row
    .medium-6.columns
      = f.input :name
    .medium-6.columns
      = f.input :nickname
  .row
    .medium-3.columns
      = f.input :age
    .medium-3.columns
      = f.input :sex, collection: ButRegistration.sexes.to_a.map {|a| [t(a.first), a.first]}
    .medium-6.columns
      = f.input :lg, collection: ButRegistration.lgs.to_a.map {|a| [a.first, a.first]}, include_blank: false
  .row
    .medium-12.columns
      .field_with_hint
        = f.input :address
        #address-category.hint

  .row.toddlers
    .medium-12.columns
      .callout.radius.panel
        %p
          Kinder unter drei Jahren nehmen kostenlos am BUT teil. Wir empfehlen dir, in der Anmeldung der Eltern entweder ein <strong>Einzelzimmer</strong>, <strong>Doppelzimmer</strong> oder ein <strong>Familienzimmer</strong> zu buchen.

  .row.no-toddlers
    .medium-12.columns
      %fieldset
        %legend Essen
        .radios
          = enum_radio_buttons(f, :diet)
        = f.text_field :diet_other


  .row.no-toddlers
    .medium-6.columns
      %fieldset
        %legend Anreise
        .radios
          = enum_radio_buttons(f, :estimated_checkin_day)
        = f.select :estimated_checkin_time,
          ButRegistration.estimated_checkin_times.to_a.map{|a| [t(a.first), a.first]}

    .medium-6.columns
      %fieldset
        %legend Abreise
        .radios
          = enum_radio_buttons(f, :estimated_checkout_day)
        = f.select :estimated_checkout_time,
          ButRegistration.estimated_checkout_times.to_a.map {|a| [t(a.first), a.first]}

  .row.no-toddlers
    .medium-12.columns
      %fieldset
        %legend Verkehrsmittel
        %p
          %label So komme ich zum BUT:
          .radios
            = enum_radio_buttons(f, :transportation)

  .row.no-toddlers
    .medium-12.columns
      %fieldset
        %legend Unterkunft
        %p
          %label Ich möchte schlafen in einem ...
          .radios
            = enum_radio_buttons(f, :accomodation, {disabled: lambda{|e| e.first == 'acc_family' || e.first == 'acc_single' || e.first == 'acc_double'} }) { |a| |
                s = "#{t(a)} (+ #{number_to_currency @but_registration.room_prices[a]})".html_safe; |
                if a == 'acc_family' || a == 'acc_single' || a == 'acc_double'; |
                  s = '<span class="label">ausgebucht</span> '.html_safe + s; |
                end; |
                s; |
              } |

        %p#together-with
          %label ... zusammen mit ...
          %input{:id => "but_registration_room_mates_none", :name => "but_registration[room_mates]",
                 :type => "radio", :value => "room_mates_none", :checked => @but_registration.room_mates_none?}
          %label(for="but_registration_room_mates_none") egal wem
          %br
          %input{:id => "but_registration_room_mates_group", :name => "but_registration[room_mates]",
                 :type => "radio", :value => "room_mates_group", :checked => @but_registration.room_mates_group?}
          %label(for="but_registration_room_mates_group" style="margin-top: 8px") Leuten der Gruppe
          = select_tag "but_registration[accomodation_group_id]",
            options_from_collection_for_select(current_user.groups + current_user.owned_groups, "id", "name"),
            {class: 'small-6'}
          %br
          %input{:id => "but_registration_room_mates_other_registrations", :name => "but_registration[room_mates]",
                 :type => "radio", :value => "room_mates_other_registrations", :checked => @but_registration.room_mates_other_registrations?}
          %label(for="but_registration_room_mates_other_registrations")
            anderen Leute, die ich registriert habe
            (momentan #{current_user.registrations.reject {|r| r == @but_registration}.map(&:name).join(', ')})
        %p

  .row.no-toddlers
    .medium-12.columns
      %fieldset
        %legend Das BUT tragen
        .row
          .medium-6.columns
            %p
              Als Teil deines Begrüßungspakets auf dem BUT bekommst du ein T-Shirt mit dem BUT-Logo. Wir brauchen nur deine Kleidergröße, damit wir das T-Shirt für dich passend bestellen können.
              %ul.inline-list
                %li Mehr Infos zu
                %li= link_to "Kindergrößen (PDF)", "http://www.fruitoftheloom.eu/public/pdf/imprint2015/en/61-033-0.pdf", target: '_blank'
                %li= link_to "Frauenschnitte (PDF)", "http://www.fruitoftheloom.eu/public/pdf/imprint2015/en/61-372-0.pdf", target: '_blank'
                %li= link_to "Männerschnitte (PDF)", "http://www.fruitoftheloom.eu/public/pdf/imprint2015/en/61-036-0.pdf", target: '_blank'
              = f.input :t_shirt_size,
                as: :grouped_select,
                collection: ButRegistration::T_SHIRT_SIZES,
                group_method: :last

          .medium-6.columns
            %p.right
              %ul.clearing-thumbs(data-clearing)
                %li
                  %a.th{'href' => image_path("t-shirt.png")}
                    %img{'src' => image_path("t-shirt_small.png"), 'width' => '100%'}

  .row.no-toddlers
    .medium-12.columns
      %fieldset
        %legend Das BUT rocken
        %p
          %label
            Wir brauchen immer Leute, die auf dem BUT aushelfen wollen.
            Mehr Informationen zu den einzelnen Aufgaben findet ihr unter
            = succeed '.' do
              = link_to 'Mitwirken', page_path('mitwirken')
          - %w(freestyler checkin party kiosk grillen ersthelfer).each do |s|
            = f.input "wants_to_help_#{s}",
              label: t("simple_form.labels.but_registration.wants_to_help_#{s}_html")
        %p
          %label ... oder einen Workshop anbieten wollen.
          = f.input :wants_to_offer_workshop

  .row.no-toddlers
    .medium-12.columns
      %fieldset
        %legend Über's BUT erzählen
        %p
          %label
            Wenn du zustimmst, führen wir deinen Namen in der
            = link_to 'Liste der Anmeldungen', page_path('anmeldungen')
            auf. Du kannst andere (freigegebene) Anmeldungen nur sehen, wenn du selbst zugestimmt hast.
          = f.input :visible

  .row
    .medium-12.columns
      %fieldset
        %legend Kommentare und Anmerkungen?
        %p
          Wenn du uns bezüglich deiner Anmeldung noch etwas mitteilen möchtest, kannst du es hier loswerden.
        %p
          = f.text_area :comment

  .row
    %h2.subheader Kosten
    %p Für eine detailierte Erklärung siehe #{link_to 'Preise', page_path('preise')}.
    %table
      %tr.no-toddlers
        %th Grundgebühr Registrierung
        %td.right#registrationPrice= number_to_currency @but_registration.registration_price
      %tr.no-toddlers
        %th Zimmeraufschlag
        %td.right#roomPrice= number_to_currency @but_registration.room_prices.acc_dorm
      %tr.no-toddlers
        %th Fahrtkostenumlage
        %td.right#categoryPrice
      %tr.no-toddlers
        %th Frühbucherrabatt
        %td.right#categoryPrice= number_to_currency @but_registration.early_bird_price
      %tr
        %th Gesamtpreis
        %td.right
          %strong#totalPrice

  - unless @but_registration.frozen?
    = f.button :submit
