!!! 5
%head
  %title
    - if content_for? :title
      = yield :title
      &ndash;
    YFU Jubiläum 2017
  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true

  %meta(name="viewport" content="width=device-width, initial-scale=1.0")
  %meta(charset="utf-8")
  %link(rel="icon" type="image/x-icon" href="/favicon.ico")

  = csrf_meta_tags
%body.site
  %header
    %nav.top-bar(data-topbar data-options="back_text: « zurück")
      %ul.title-area
        %li.name
          %h1
            = link_to(image_tag('yfu-topnav.png') + 'Jubiläum 2017', root_path,
              class: 'show-for-small-only')
            = link_to(image_tag('yfu-topnav.png') + 'Jubiläum 2017', root_path,
              class: 'show-for-medium-only')
            = link_to(image_tag('yfu-topnav.png') + 'Jubiläum 2017', root_path,
              class: 'show-for-large-up')
        %li.toggle-topbar
          %a(href='#')
            %i.fa.fa-bars
            Menu
      %section.top-bar-section
        = semantic_navigation :pages_menu do |n|
          - n.item 'Team', page_path('team')
        = semantic_navigation :language_menu do |n|
          - n.item fa_icon(:globe, text: t(:switch_language)), switch_language_url

  %main
    - if flash[:notice] || flash[:warning] || flash[:alert]
      %section.flash
        - if flash[:notice]
          .alert-box.info(data-alert)
            = flash[:notice]

        - if flash[:warning]
          .alert-box.warning(data-alert)
            = flash[:warning]

        - if flash[:alert]
          .alert-box.alert(data-alert)
            = flash[:alert]

    = content_for?(:content) ? yield(:content) : yield

  .bottom
    %footer
      %div
        %p
          %strong Impressum<br>
        %p= image_tag('yfu-logo.png')
        %p
          Das Jubiläum 2017 ist eine Veranstaltung des
          Deutschen Youth For Understanding Komitees e.V.
      %div
        %p
          %strong Anschrift<br>
          Deutsches Youth For Understanding Komitee e.V. (YFU)<br>
          Oberaltenallee 6<br>
          22081 Hamburg
        %p
          Telefon: +49 (0) 40 22 70 02 -0<br>
          Fax: +49 (0) 40 22 70 02 -27<br>
          E-Mail:
          %a(href="mailto:info@yfu.de") info@yfu.de
      %div
        %p
          %strong Vorstand<br>
          Marcus von Garßen,
          Rita Stegen,
          Elmar Lammerskitten,
          Ricarda Bauch,
          Simon Born
        %p
          %strong Vereinsregister<br>
          Amtsgericht Hamburg, Registernummer VR&nbsp;6999


  = yield(:page_js)
