!!! 5
%head
  %title
    - if content_for? :title
      = yield :title
      &ndash;
    YFU
    =t 'anniversary'
  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true

  %meta(name="viewport" content="width=device-width, initial-scale=1.0")
  %meta(charset="utf-8")
  %link(rel="icon" type="image/x-icon" href="/favicon.ico")

  = csrf_meta_tags
%body.site
  %header
    %nav.top-bar(data-topbar data-options="back_text: « zurück")
      %ul.title-area
        %li.name
          %h1
            = link_to(image_tag('yfu-topnav.png') + t('anniversary'), root_path)
        %li.toggle-topbar
          %a(href='#')
            %i.fa.fa-bars
            Menu
      %section.top-bar-section
        = semantic_navigation :pages_menu do |n|
          - n.item 'Team', page_path('team')

        = semantic_navigation :user_menu do |n|
          - with_feature :login do
            - n.item fa_icon(:user, text: t(:user)), profile_path, highlights_on: [], hidden_unless: signed_in? do
              - n.item fa_icon(:home, text: t(:profile)), profile_path,
                highlights_on: [{controller: 'profiles'},
                                {controller: 'conference_registrations'},
                                {controller: 'groups'},
                                {controller: 'payments'}]
              - n.item fa_icon(:dashboard, text: 'BUT-Board'), but_board_path, hidden_unless: can?(:view, :but_board)
              %li.divider
              %li
                = link_to fa_icon(:sign_out, text: t(:sign_out)), destroy_user_session_path, method: :delete
            - n.item fa_icon(:sign_in, text: t(:sign_in)), new_user_session_path unless signed_in?

        = semantic_navigation :language_menu do |n|
          - n.item fa_icon(:globe, text: t(:switch_language)), switch_language_url


  %main
    - if flash[:notice] || flash[:warning] || flash[:alert]
      %section.flash
        - if flash[:notice]
          .alert-box.info(data-alert)
            = flash[:notice]

        - if flash[:warning]
          .alert-box.warning(data-alert)
            = flash[:warning]

        - if flash[:alert]
          .alert-box.alert(data-alert)
            = flash[:alert]

    = content_for?(:content) ? yield(:content) : yield

  .bottom
    %footer
      %div
        %h2=t 'legal info'
        %p= image_tag('yfu-logo.png')
        %p=t 'disclaimer'
      %div
        %h2=t 'address'
        :markdown
          Deutsches Youth For Understanding Komitee e.V. (YFU)<br>
          Oberaltenallee 6<br>
          22081 Hamburg

          #{t 'phone'}: +49 (0) 40 22 70 02 -0<br>
          #{t 'email'}: <info@yfu.de>, <60@yfu.de>
      %div
        %h2=t 'board'
        %p
          Marcus von Garßen,
          Rita Stegen,
          Elmar Lammerskitten,
          Ricarda Bauch,
          Simon Born
        %h2 Vereinsregister
        %p
          Amtsgericht Hamburg, Registernummer VR&nbsp;6999

  = yield(:page_js)
